# PostgreSQL - credenciales fijas requeridas por el proyecto
POSTGRES_USER=proy2
POSTGRES_PASSWORD=secret
POSTGRES_DB=tienda
POSTGRES_PORT=5433

# Backend (lo usaremos en el commit 3)
BACKEND_PORT=3001
DB_HOST=db
DB_PORT=5433

# Sesion (lo usaremos en el commit 4)
SESSION_SECRET=cambiar_este_valor_en_produccion