# Variables de entorno
.env

# Node (para los siguientes commits)
node_modules/
npm-debug.log*
dist/
build/

# Editor / OS
.vscode/
.idea/
.DS_Store
*.swp

# Logs
*.log

# Datos de Postgres si se persisten localmente
postgres_data/